.title {
    padding-left: 64px;
    padding-top: 32px;
    height: 32px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.line {
    position: absolute;
    right: 64px;
    left: 64px;
}