.expandable-header {
    background-color: #9E1B32;
}

.header-title {
    color: white;
}

.requirement-text {
    font-size: 10px;
}

.sublist {
    width: 100%;
}

.edited-symbol {
    position: absolute;
    right: 0;
    bottom: 0;
}

.comment {
    position: absolute;
    transform: translate(-50%, -50%);
}

.comment-button {     
    width: 10px;
    height: 10px;   
}

.comment-text-area {
    color: #9E1B32;
    left: 5%;
    width: 95%;
}

.loading-div {
    position: relative;
    width: 100%;
    height: 100%;
}

.loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.requirement-item-automated {
    border: 2px solid #9E1B32;
    border-radius: 5px;
    margin-bottom: 5px;
}

.error-icon {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 50%;
    left: 50%;
    transform: scale(3);
    transform: translate(-50%, -50%);
}

.error {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}