.expandable-header {
    background-color: #9E1B32;
}

.header-title {
    color: white;
}

.requirement-text {
    font-size: 10px;
}

.sublist {
    width: 100%;
}

.edited-symbol {
    position: absolute;
    right: 0;
    bottom: 0;
}

.comment {
    position: absolute;
    right: 3%;
}

.comment-button {     
    width: 10px;
    height: 10px;   
}

.comment-text-area {
    color: #9E1B32;
    left: 5%;
    width: 95%;
}